In [1]:
import numpy as np
import pandas as pd

# Series from lists

In [3]:
country = ['India','Pakistan','Nepal','Srilanka','United States Of America']

pd.Series(country)

0                       India
1                    Pakistan
2                       Nepal
3                    Srilanka
4    United States Of America
dtype: object

In [4]:
# Integers
runs = [13,24,45,100,67]

runs_series = pd.Series(runs)
runs_series

0     13
1     24
2     45
3    100
4     67
dtype: int64

In [6]:
# Custom Index
marks = [67,70,89,100,95]
subjects=['english','hindi','science','sanskrit','mathematics']

ds = pd.Series(marks,index=subjects)
print(ds)
print('------------------------------------------------------------')
print('------------------------------------------------------------')
ds_1 = pd.Series(subjects,index=marks)
print(ds_1)

english         67
hindi           70
science         89
sanskrit       100
mathematics     95
dtype: int64
------------------------------------------------------------
------------------------------------------------------------
67         english
70           hindi
89         science
100       sanskrit
95     mathematics
dtype: object

In [7]:
# Setting a name

marks = ['70','82','88','98','100']
subjects = ['english','hindi','sanskrit','science','maths']

marks = pd.Series(marks,index=subjects,name='Dev ke marks')
print(marks)

english      70
hindi        82
sanskrit     88
science      98
maths       100
Name: Dev ke marks, dtype: object

# Series from Dict :- keys index ban jate hai aur value-values ban jate hai

In [26]:
marks = {
    'english':'70',
    'hindi':'82',
    'sanskrit':'88',
    'science':'98',
    'maths':'100'
}

mrks = pd.Series(marks,name='Dev ke marks')
print(mrks)

english      70
hindi        82
sanskrit     88
science      98
maths       100
Name: Dev ke marks, dtype: object

# Series Attributes

In [27]:
# Size ---- series ke andar kitne values h
mrks.size

5

In [28]:
# dtype
mrks.dtype

dtype('O')

In [29]:
# Name
mrks.name

'Dev ke marks'

In [30]:
# is_unique
mrks.is_unique

True

In [31]:
# Index
mrks.index

Index(['english', 'hindi', 'sanskrit', 'science', 'maths'], dtype='object')

In [32]:
# Values
mrks.values

array(['70', '82', '88', '98', '100'], dtype=object)

# Series using read_csv

In [37]:
# With one columns
print(pd.read_csv('subs.csv'))   # Ye dataframe h,series ni h
print('------------------------------------------------------')
print('------------------------------------------------------')
print(type(pd.read_csv('subs.csv')))
print('------------------------------------------------------')
print('------------------------------------------------------')
print('Convert dataframe into series')
print()
subs = pd.read_csv('subs.csv').squeeze()
print(subs)

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]
------------------------------------------------------
------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
------------------------------------------------------
------------------------------------------------------
Convert dataframe into series

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [39]:
# With 2 columns
kohli = pd.read_csv('kohli_ipl.csv',index_col = 'match_no').squeeze()
print(kohli)

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [41]:
bolly = pd.read_csv('bollywood.csv',index_col='movie').squeeze()
print(bolly)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

# Series Methods

In [42]:
# Head and Tail Method
subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [43]:
kohli.head(3)

match_no
1     1
2    23
3    13
Name: runs, dtype: int64

In [44]:
kohli.tail()

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [45]:
kohli.tail(10)

match_no
206     0
207     0
208     9
209    58
210    30
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [46]:
# Sample --- randomly ek row nikal kar dikhayega
bolly.sample()

movie
Chandni Chowk to China    Mithun Chakraborty
Name: lead, dtype: object

In [47]:
bolly.sample(3)

movie
Patel Ki Punjabi Shaadi        Rishi Kapoor
Bhoothnath                 Amitabh Bachchan
Gunday                        Ranveer Singh
Name: lead, dtype: object

In [51]:
# value_counts  --> movies
bolly.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

In [55]:
kohli.value_counts()

runs
0     9
1     8
12    8
9     7
35    6
     ..
36    1
45    1
71    1
37    1
53    1
Name: count, Length: 78, dtype: int64

In [57]:
# sort values
kohli.sort_values()   # Ascending value

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [58]:
kohli.sort_values(ascending=False)

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

In [60]:
kohli.sort_values(ascending=False).head(1)

match_no
128    113
Name: runs, dtype: int64

In [61]:
kohli.sort_values(ascending=False).head(1).values[0]

113

In [62]:
kohli.sort_values(inplace=True)

ValueError: This Series is a view of some other array, to sort in-place you must create a copy

# Series Maths Methods

In [63]:
# count --> missing methods ko count ni krta lkin size method missing values ko bhi count krta hai
kohli.count()

215

In [64]:
kohli.sum()

6634